table {
    background-color: var(--seashell);
    color: var(--seashell);
}

.leaderboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

tr {
    background-color: var(--darkwood);
}

td, th {
    padding: 8px;
    border: var(--darkwood) solid thick;
}

td {
    background-color: var(--lightwood);
}

.player-rank {
    animation-name: row-zoom;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes row-zoom{
    50%{
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}