
canvas {
    border: black solid thin;
}

.monkey-attributes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.game-screen {
    display: block;
    position: relative;
    height: 688px;
    background-color: #8ed867;
    border: var(--darkwood) solid thick;
    overflow: hidden;
}

.map {
    background-size: 100%;
    width: 1200px;
    height: 1200px;
    position: relative;
}

#ground {
    /*background-image: url(islandgroundmap.png);*/
    z-index: 0;
}

#trees {
    content: url(assets/islandtreemap.png);
    z-index: 1;
}

.player {
    content: url(assets/munkey.png);
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    top: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    /*animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

@keyframes spin {
    25% {
        transform: rotateZ(-45deg);
    }
    50% {
        transform: rotateZ(-90deg);
    }
    75% {
        transform: rotateZ(-45deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.thrown-coconut {
    content: var(--coconut);
    position: absolute;
    left: 0; 
    right: 8px; 
    bottom: 18px;
    top: 0;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    /*animation-name: thrown-coconut;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

@keyframes throw-coconut {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50vw);
    }
}

.GUI {
    z-index: 2;
}

.leaderboard {
    justify-content: left;
    position: absolute;
    top: 0;
    left: 0;
}

.fruit-counter {
    position: absolute;
    height: 96px;
    width: 168px;
    top: 0;
    right: 0;
    border: var(--lightwood) solid thick;
    background-color: var(--darkwood);
}

.coconut_icon {
    content: var(--coconut);
    position: absolute;
    right: 82px;
    top: 16px;
    transform: scale(0.5);
}

.counter {
    color: var(--seashell);
}

.X {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    right: 80px;
    top: 48px;
    font-size: larger;
    font-style: bold;
}

.count {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    right: 34px;
    top: 24px;
    font-size: 42px;
    font-style: bold;
}

.health_bar {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 16px;
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
}

.heart_icon {
    content: url(assets/heart_icon.png);
    position: absolute;
    left: 0px; 
    bottom: 10px;
    width: 50px;
}

.bar {
    width: 480px;
    height: 22px;
    border: black solid thick;
    border-radius: 0.25rem;
    position: absolute;
    bottom: 16px;
    left: 16px;
    /*animation-name: shake-bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

.bar-fill {
    --damage: 20%;

    width: 100%;
    height: 100%;
    background-color: blue;
    /*animation-name: lose_health;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

@keyframes shake-bar {
    20% {
        transform: translateX(0px) translateY(0px);
    }
    21% {
        transform: translateX(-2px) translateY(2px);
    }
    22% {
        transform: translateX(2px) translateY(2px);
    }
    23% {
        transform: translateX(-2px) translateY(-2px);
    }
    24% {
        transform: translateX(2px) translateY(-2px);
    }
    25%{
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes lose_health {
    0% {
        width: 100%;
        background-color: blue;
    }
    20% {
        width: 100%;
        background-color: blue;
    }
    21% {
        width: 100%;
        background-color: red
    }
    40% {
        width: calc(100% - var(--damage));
        background-color: red;
    }
    41%{
        background-color: blue;
    }
    60% {
        width: calc(100% - var(--damage));
    }
}

@media only screen and (max-width:760px) {
    .leaderboard {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .health_bar {
        transform: scale(0.8) translateX(-8%);
    }
    
}